DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
BOT_OWNER_ID=
PUBLIC_BASE_URL=
DISCORD_CLIENT_SECRET=
REDIRECT_PATH=/auth/discord/callback
SESSION_SECRET=
PORT=3000
AUTO_REGISTER_COMMANDS=true
PULL_AUTHORIZED_USER_IDS=
